* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    animation: fade-in 1s ease-in-out;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
    flex: 1;
}

section {
    margin-bottom: 40px;
}

section h2 {
    font-size: 2.4vw;
    margin-bottom: 1.0vw;
    animation: fade-in 1s ease-in-out;
}

section p {
    font-size: 1.6vw;
    line-height: 1.5;
    animation: fade-in 1s ease-in-out;
}

footer {
    background-color: #363333;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

footer p {
    margin: 0;
}

/* Estilos para la página de productos */

#electronics, #gaming, #anime, #domotica {
    margin-bottom: 40px;
    animation: slide-in-right 1s ease-in-out;
}

@keyframes slide-in-right {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

#electronics h2, #gaming h2, #anime h2, #domotica h2 {
    font-size: 2.4vw;
    margin-bottom: 1.0vw;
    animation: fade-in 1s ease-in-out;
}

#electronics p, #gaming p, #anime p, #domotica p {
    font-size: 1.6vw;
    line-height: 1.5;
    animation: fade-in 1s ease-in-out;
}

#electronics a, #gaming a, #anime a, #domotica a {
    background-color: #333;
    color: #fff;
    padding: 1.0vw 2.0vw;
    text-decoration: none;
    border-radius: 0.5vw;
    animation: pulse 1s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2.0vw;
    animation: fade-in 1s ease-in-out;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

   